/* theme color */
$--color-primary: #0275d8;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";


.hichat-moblie{
  .home-wrapper {
    min-height: 100%;
    width: 100%;
    background-color: #eaf5fa;
    overflow-x: hidden;
    overflow-y: auto;
    .home-header {
      margin: 1em;
      display: flex;
      align-items: center;
      position: fixed;
      width: -webkit-fill-available;
      background-color: #eaf5fa;
      z-index: 9;
      .home-user {
        width: 2em;
        height: 2em;
        border-radius: 10px;
        background-size: 50%;
        background-position: center;
        background-repeat: no-repeat;
      }
      .home-header-title {
        margin: 0 auto;
        color: #10686e;
        font-weight: 600;
      }
      .home-add-user {
        width: 2em;
        height: 2em;
        border-radius: 10px;
        background-size: 50%;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    .home-search {
      margin: 1em;
      position: fixed;
      width: -webkit-fill-available;
      top: 3em;
      background-color: #eaf5fa;
      z-index: 9;
      .el-input {
        .el-input__inner {
          background-color: #e9e8e8;
          color: #666666;
        }
        .el-input__prefix {
          color: #666666;
        }
        ::placeholder {
          /* CSS 3 標準 */
          color: #666666;
        }
      }
    }
    .address-box {
      background-color: #ffffff;
      padding: 0.8em 1em;
      display: flex;
      align-items: center;
      .el-image {
        width: 3em;
        border-radius: 10px;
        .el-image__error{
          height: 48px;
          font-size: 10px;
        }
      }    
    }
    .address-content{
      overflow-x: hidden;
      overflow-y: auto;
      height: 90vh;
      position: relative;
      top: 3em;
      z-index: 8;
      .user-data{
        margin: 1.5em auto 2.5em auto;
        text-align: center;
        .el-image {
          width: 3em;
          border-radius: 10px;
          .el-image__error{
            height: 48px;
            font-size: 10px;
          }
        }   
      }
    }
    .home-footer {
      width: 100vw;
      background-color: #fff;
      position: fixed;
      bottom: 0;
      display: flex;
      justify-content: space-between;
      padding: 0.5em 0;
      border-top: 0.01em solid #d9d9d9;
      -webkit-overflow-scrolling: none;
      z-index: 9;
      .home-footer-btn {
        text-align: center;
        font-size: 12px;
        padding: 0;
        margin: 0 auto;
        a {
          text-decoration: none;
          color: #999999;
        }
        span {
          display: block;
        }
        img {
          margin-bottom: 5px;
          height: 2.2em;
        }
        .router-link-exact-active {
          color: #fe5f3f;
        }
      }
    }
    .el-tabs{
      position: fixed;
      width: 100vw;
      top: 8em;
      background-color: #eaf5fa;
      z-index: 9;
      .el-tabs__header{
        position: fixed;
        width: 100vw;
        top: 7.5em;
        z-index: 9;
        background-color: #e2e0e0;
        display: flex;
        justify-content: space-evenly;
        margin: 0;
        .el-tabs__nav-wrap {
          &:after {
            content: "";
            display: none;
          }
          .el-tabs__active-bar {
            display: none;
          }
          .el-tabs__item.is-active {
            color: #303133;
          }
          .el-tabs__nav {
            width: 100vw;
            display: flex;
            justify-content: space-around;
            .el-tabs__item {
              font-size: 15px;
              padding: 0 10vw
            }
          }
        }
      }
      .el-tabs__content{
        position: relative;
        top: 2em;
        overflow-x: hidden;
        overflow-y: auto;
        height: 70vh;
        z-index: 8;
      }
    }  
  }
}


